{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jquery": true
  },
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "extends": [
    "plugin:json/recommended",
    "standard"
  ],
  "rules": {
    "semi": [2, "never"],
    "space-before-function-paren": [2, {"anonymous": "always", "named": "never", "asyncArrow": "always"}],
    "no-control-regex": 0
  }
}

