.card {
    background-color: antiquewhite;
    padding-top: 10%;
    margin-left: 1%;
    margin-top: 1%;
    border-radius: 1em;
}

.card-bottom {
	bottom: 0;
	left: 0;
	position: absolute;
	width: 100%;
}
.card-word {
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    text-align: center;
    background-color:white;
    padding: 0.8vh;
    font-size: 1.1vw;
    border-radius: 1em;
    font-weight: bold;

}

.card-color {
	border-radius: 0.9rem;
}
.playground .card .card-color {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.playground .card.clicked .card-color {
	opacity: 1;
}

.playground .card:not(.clicked) .card-color {
	opacity: 0.25;
}

.playground .card.red .card-color {
	background-color: red;
}

.playground .card.blue .card-color {
	background-color: blue;
}

.playground .card.black .card-color {
	background-color: black;
}

.playground .card.grey .card-color {
	background-color: #deb887;
}

.playground .card.green .card-color {
	background-color: green;
}

.image-crown {
	width: 1.5em;
}

.user-color {
    height: 1em;
    width: 1em;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid black;
}

.user-color.red {
    background: red;
}

.user-color.blue {
    background: blue;
}

.hints-table > tbody > tr > td {
	font-weight: bold
}

.leader-only, .member-only {
	display: none;
}

.btn.toggle-leader {
    width: 2.4em;
}

.hints-table td.red {
    color: red;
}

.hints-table td.blue {
    color: blue;
}

.bg-red {
	background-color: darkred;
}

.playground .card.border-red {
	border: 2px solid red;
}

.playground .card.border-blue {
	border: 2px solid blue;
}
