.navbar-brand {
	margin-left: 45%;
}

.card {
    background-color: antiquewhite;
    padding-top: 10%;
    margin-left: 1%;
    margin-top: 1%;
    border-radius: 1.7vh;
}

.card-bottom {
	bottom: 0;
	left: 0;
	position: absolute;
	width: 100%;
}
.card-word {
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    text-align: center;
    background-color:white;
    padding: 0.8vh;
    font-size: 1.1vw;
    border-radius: 1vw;
    font-weight: bold;

}

.card-color {
	border-radius: 1.7vh;
}
.playground .card .card-color {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
}

.playground .card.clicked .card-color {
	opacity: 1;
}

.playground .card:not(.clicked) .card-color {
	opacity: 0.25;
}

.playground .card.red .card-color {
	background-color: red;
}

.playground .card.blue .card-color {
	background-color: blue;
}

.playground .card.black .card-color {
	background-color: black;
}

.playground .card.grey .card-color {
	background-color: #deb887;
}
